* {
    box-sizing: border-box;
}
.main-header {
    margin: auto;
    text-align: center;
}
.hidden {
    display: none!important;
}
a {
    text-decoration: none;
}
.front-btn h1, .front-btn h4, .front-btn {
    position: relative;
    margin: auto;
    z-index: 10;
    color: red;
    background-color: black;
}
#timer-row {
    display: inline-block;
    text-align: center;
}